@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

ul {
  list-style: none;
}

button {
  background-color: rgb(55, 111, 233);
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}
button:disabled{
  background-color: #D0D5DD;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: #161d27;
}

h2{
  font-size: 24px;
  font-weight: 500;
  color: #161d27;
}

table {
  width: 100%;
}

table th{
  font-size: 16px;
  font-weight: 500;
}

table th,
td {
  padding: 14px;
}

table td p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

table tr {
  box-shadow: 0 1px 0 0 #ddd;
}

input{
  border: 1px solid #D0D5DD;
  padding: 12px;
  border-radius: 6px;
  width: 320px;
}

input:focus-visible{
  outline: 2px solid rgb(55, 111, 233);
}

.menu{
  display: none;
}

@media (max-width: 1024px){
  .menu{
      display: block;
  }
}

@media (max-width: 1200px){
  .main-right{
    width: 100%;
  }
}
